<div style="margin: 100px">
    <form #f="ngForm"  >
        <div class="form-group">
            <label class=""> id : </label>
            <input for="" #i="ngModel" type="number" class="form-control
        "   
                placeholder="Enter id" name="id" [(ngModel)]="product.id" required min="1" max="100"   [ngClass]="{'is-invalid':(i.invalid && (i.dirty || i.touched)) , 'is-valid':i.valid}"  />
            <div class=" invalid-feedback" *ngIf="i.value==null" >
                veuillez remplir le champs id
            </div>
            <div class=" invalid-feedback" *ngIf="i.errors?.['max']">
                id should be < 100 
            </div>
            <div class=" invalid-feedback" *ngIf="i.errors?.['min']">
                id should be > 0 
            </div>
            <div class="  valid-feedback "  *ngIf="i.valid ">valid id</div>
        </div>

        <div class="form-group">
            <label class=""> title : </label>
            <input for="" #title="ngModel" type="text" class="form-control " id=""
                placeholder="Enter title" name="title" [(ngModel)]="product.title" required minlength="3"   [ngClass]="{'is-invalid':(title.invalid && (title.dirty || title.touched))  , 'is-valid':title.valid}" />
            <div class=" invalid-feedback" *ngIf="title.value == null">
                veuillez remplir le champs title
            </div>
            <div class=" invalid-feedback" *ngIf="title.errors?.['minlength']">
                 title less than 3 caracters 
            </div>
            <div class=" valid-feedback " *ngIf="title.valid" >Valid title</div>
        </div>

        <div class="form-group">
            <label> price : </label>
            <input type="text" class="form-control" placeholder="Enter price" name="price" [(ngModel)]="product.price"
                required="true" />
        </div>

        <div class="form-group">
            <label> quantity : </label>
            <input type="text" class="form-control" placeholder="Enter quantity" name="quatity"
                [(ngModel)]="product.quantity" />
        </div>

        <br />
        <button type="submit" class="btn btn-primary" [disabled]="f.invalid" (click)="addProduct(product)"  >
            Create
        </button>
    </form>
</div>